body {
    background-image:url("https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/3/0/5/305f357229_50169077_halo-voie-lactee.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
    font-size: 25px;
    color: blue;
}
p {
    color: white;
}
footer p {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 3vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}